body, html {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  min-width: 1080px;
}
.main-buttons {
  float: right;
  cursor: pointer;
  width: 110px;
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 90%;
  background: yellow;
  color: black;
  margin: 10px 10px 10px 10px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
}
.container {
  position: fixed;
  min-width: 100%;
  min-height: calc(100% - 99px);
  left: 0;
  top: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.createbutton {
  float: none;
  width: 110px;
  background-color: rgb(20, 199, 20);
  border: none;
  margin-bottom: 10px;
}
textarea {
  height: 200px;
}